@using Frontend.Shared
@page "/"

<PageTitle>Home</PageTitle>

<div>
    <SearchTask OnSearch="SearchTasks" />
</div>


<div class="container p-3 mt-5">

    <div>
      
        <TaskCard SearchTitle="@searchTitle" OnEdit="HandleEdit" />
    </div>

   
    <div><FormToDoUpdate ToDo="@toDo" /></div>
</div>

@code {
    private ToDoDTO? toDo;
    private string? searchTitle;

    private async Task SearchTasks(string title)
    {
        searchTitle = title;
        StateHasChanged();
    }

    private void HandleEdit(ToDoDTO todo)
    {
        toDo = todo;
    }
}
