@using Frontend.Shared
@page "/"

<PageTitle>Home</PageTitle>

<div>
    <SearchTask OnSearch="SearchTasks" />
</div>


<div class="container p-3 mt-5 d-flex justify-content-center">

    <div>
        <TaskCard SearchTitle="@searchTitle" />
    </div>

</div>

@code {
    private string? searchTitle;

    private async Task SearchTasks(string title)
    {
        searchTitle = title;
        StateHasChanged(); 
    }
}
