



<div>
    <form @onsubmit="SearchTasks" class="d-flex">
        <input type="search" @bind="@title" placeholder="Search by title" class="form-control" />
        <div class="ms-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

@code {
    private string? title;

    [Parameter]
    [EditorRequired]
    public EventCallback<string> OnSearch { get; set; }

    private async Task SearchTasks()
    {
        await OnSearch.InvokeAsync(title);
    }
}


